@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="w-screen">
    <div class="flex">
        <div>
            <p class="font-bold">Filters:</p>
            <form>
                <p>Service to filter:</p>
                <input type="text" name="serviceFilter" value="@Model.ServiceFilter"/>
                <p>Customer Id to filter:</p>
                <input type="number" name="customerFilter" value="@Model.CustomerFilter" />
                <p></p>
                <input type="checkbox" id="tempHireFilter" name="rfFilter" value="temphire" checked=@Model.RfFilterTempHire />
                <label for="tempHireFilter">Include rf in temporary worker numbers</label>
                <p></p>
                <input type="checkbox" id="relationFilter" name="rfFilter" value="relation" checked="@Model.RfFilterRelation" />
                <label for="relationFilter">Include rf in relation numbers</label>
                <p></p>
                <button>apply filters</button>
            </form>
        </div>
        <div>
            <p class="font-bold">Show average calls per day</p>
            <div class="flex">
                <!--has to become a graph-->
                <div class="m-[5px]">
                    <p>Monday:</p>
                    <p>@Model.CallsPerDay[1]</p>
                </div>
                <div class="m-[5px]">
                    <p>Tuesday:</p>
                    <p>@Model.CallsPerDay[2]</p>
                </div>
                <div class="m-[5px]">
                    <p>Wednesday:</p>
                    <p>@Model.CallsPerDay[3]</p>
                </div>
                <div class="m-[5px]">
                    <p>Thursday:</p>
                    <p>@Model.CallsPerDay[4]</p>
                </div>
                <div class="m-[5px]">
                    <p>Friday:</p>
                    <p>@Model.CallsPerDay[5]</p>
                </div>
                <div class="m-[5px]">
                    <p>Saturday:</p>
                    <p>@Model.CallsPerDay[6]</p>
                </div>
                <div class="m-[5px]">
                    <p>Sunday:</p>
                    <p>@Model.CallsPerDay[0]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="m-[50px]">
            <p class="font-bold">comparison between external and internal customers:</p>
            <div>
                <!--has to become a graph-->
                <p>internal customers</p>
                <p class="bg-sky-300"> @Model.InternalPercent %</p>
                <p>external customers</p>
                <p class="bg-green-300">  @Model.ExternalPercent %</p>
            </div>
        </div>
        <div>
            <p class="font-bold">compare between thee different levels of calls</p>
            <div>
                <!--has to become a graph-->
                <p>Managing level:</p>
                <p>@Model.ManagingLevelPercent %</p>
                <p>Relation level:</p>
                <p>@Model.RelationLevelPercent %</p>
                <p>Temporary worker level:</p>
                <p>@Model.TempHireLevelPercent %</p>
            </div>
        </div>
    </div>
</div>