@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="w-screen">
    <div>
        <p>Show average calls per day</p>
        <div class="flex">
            <p>Monday: @Model.CallsPerDay[1]</p>
            <p>Tuesday: @Model.CallsPerDay[2]</p>
            <p>Wednesday @Model.CallsPerDay[3]</p>
            <p>Thursday: @Model.CallsPerDay[4]</p>
            <p>Friday @Model.CallsPerDay[5]</p>
            <p>Saturday: @Model.CallsPerDay[6]</p>
            <p>Sunday: @Model.CallsPerDay[0]</p>
        </div>
        <div>
            <form>
                <input type="text"  name="serviceFilter"/>
                <input type="number" name="customerFilter"/>
                <button>apply filters</button>
            </form>
        </div>
    </div>
    <div class="m-[50px]">
        <p>compares between external and internal customers</p>
        <p>internal customers</p>
        <p class="bg-sky-300"> @Model.InternalPercent %</p>
        <p>external customers</p>
        <p class="bg-green-300">  @Model.ExternalPercent %</p>
    </div>
    <div>
        <div>
            <p>compare between thee different levels of calls</p>
            <p>Managing level:</p>
            <p>@Model.ManagingLevelPercent %</p>
            <p>Relation level:</p>
            <p>@Model.RelationLevelPercent %</p>
            <p>Temporary worker level:</p>
            <p>@Model.TempHireLevelPercent %</p>
        </div>
        <form>
            <input type="checkbox" id="tempHireFilter" name="filter" value="temphire" />
            <label for="tempHireFilter">Include rf in temporary worker numbers</label>
            <input type="checkbox" id="relationFilter" name="filter" value="relation" />
            <label for="relationFilter">Include rf in relation numbers</label>
            <button>get new data</button>
        </form>
    </div>
    
</div>